body{
    margin: 0;
    padding: 0;
}
#canvas{
    background: white;
    display: block;
}
.actions{
    position: fixed;
    bottom: 0;
    left: 0;
}
.actions > #brush{
    display: inline-block;
}